/*New Project form styles*/
.new_project, .view_project {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31,31,31,0.4);
    display: grid;
    place-items: center;
    display: none;
    visibility: hidden;
    /* animation-name: onShow; */
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes onShow {
    from {
        margin-top: 100%;
    }
    70% {
        margin-top: -50%;
    }
    to {
        margin-top: 0;
    }
}
@keyframes onHide {
    from {
        margin-top: 0;
    }
    70% {
        margin-top: -50%;
    }
    to {
        margin-top: 100%;
    }
}
.add_container, .view_form {
    width: 60%;
    height: 60%;
    border: 2rem;
    background-color: var(--bg);
    box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.4),
    -4px -4px 15px rgba(0, 0, 0, 0.246);
    border-radius: 20px;
    padding: 3%;
    position: relative;
}
.close_btn, .close_view {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--red);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.close_btn:hover, .close_view::hover {
    transition: all ease-in-out .5s;
    opacity: 0.7;
}
.add_title, .view_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2%;
    color: var(--black);
}
#project_title, #project_desc, #project_authors {
    width: 92%;
    padding: 2%;
    padding-right: 6% !important;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 2%;
}
#project_desc{
    resize: none;
    height: 50px;
}
.title_counter, .desc_counter {
    position : absolute;
    right: 7%;
    width: 2%;
    padding: 2%;
    color: var(--red);
    font-size: .8rem;
}
.upload_group {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
}
.download {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    width: 90%;
}
.upload {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.upload > div , .view_author{
    font-size: .8rem;
    font-weight: 600;
    color: var(--red);
    margin-bottom: 1%;
}

.view_author {
     margin-top: -.5%;
     border-bottom: 2px solid var(--red);
     padding-bottom: 5px;
     width: auto;
}
.view_desc {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    margin-top: 2%;
}
.download_thesis, .download_zip {
    font-size: .8rem;
    font-weight: 700;
    border-radius: 10px;
    color: var(--bg);
    border: none;
    background: var(--red);
    cursor: pointer;
    padding: 1.5%;
    outline: none;
    width: 30%;
}

.upload > label {
    padding: 2%;
    width: 50%;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--bg);
    cursor: pointer;
    font-size: .9rem;
}
.upload > label:hover {
    transition: all ease-in-out .5s;
    opacity: 0.8;
}
.add_form_btn_group {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#clear {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--red);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
#done {
    font-size: .8rem;
    font-weight: 700;
    width: 15%;
    border-radius: 50px;
    color: var(--bg);
    border: none;
    background: var(--red);
    cursor: pointer;
    padding: 1.5%;
    outline: none;
}
#clear:hover, #done:hover {
    transition: all ease-in-out .5s;
    opacity: 0.8;
}