:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bg: rgb(241, 241, 241);
    --black: rgb(44, 43, 43);
    --red: rgb(157, 5, 5);
    --reed: rgb(15, 255, 243);
    --light-blue: rgba(0, 3, 79, 0.199);
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: var(--font);
}
body{
    height: auto;
    width: 100%;
    background-color: var(--bg);
}
.navbar {
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--black);
    position: relative;
    cursor: pointer;
}
.logo > span {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    display: block;
}
.logo > .point-one {
    position: absolute;
    right: 0;
    top: -10px;
    border-radius: 50%;
}
.logo:hover > .point-one{
    animation-name: top;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* transition: top  1s; */
}
.logo:hover > .point{
    animation-name: bottom;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* transition: top  1s; */
}
@keyframes top {
    from {
        right: 0;
    }
    50% {
        right: 90%;
        border-radius: 0;
    }
    to {
        right: 0;
        border-radius: 50%;
    }
}
@keyframes bottom {
    from {
        margin-left: 0;
    }
    50% {
        margin-left: 100%;
        border-radius: 50%;
    }
    to {
        margin-left: 0;
        border-radius: 0;
    }
}
.search {
    width: 35%;
    height: 30px;
    display: flex;
}
.search > input {
    width: 90%;
    height: 26px;
    padding: 2px 5%;
    outline: none;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.search > div {
    background-color: var(--red);
    color: var(--bg);
    display: grid;
    place-items: center;
    width: 10%;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.search > div:hover {
    transition: all ease-in-out .5s;
    opacity: .8;
}
.add_new {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background-color: var(--red);
    color: var(--bg);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}
.add_new:hover, .view_more:hover {
    transition: all ease-in-out .5s;
    opacity: .8;
}
.projects {
    width: 60%;
    height: auto;
    margin-top: 3vh;
    /* border: 2px solid black; */
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    padding: 5%;
}
.card {
    background-color: white;
    border-radius: 20px;
    height: 250px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3),
    -2px -2px 10px rgba(0, 0, 0, 0.146);
    overflow: hidden;
    position: relative;
}
.title{
    padding: 3%;
    font-weight:700;
    font-size: 1.3rem;
    height: 40%;
    color: var(--black);
    display: flex;
    align-items: center;
}
.authors {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: .9rem;
    font-weight: 500;
    color: var(--reed)
}
.description {
    /* position: relative; */
    padding: 2%;
    background-color: var(--black);
    color: var(--bg);
    height: 60%;
    font-size: .8rem;
}
.view_more {
    font-size: .8rem;
    font-weight: 600;
    background-color: var(--reed);
    color: var(--black);
    padding: 5px;
    width: 70px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    left: 3%;
    bottom: 4%;
}
